nav {
  border-bottom: 4px solid #129c00;
  height: 10vh;
}

.homepage {
  background-image: url("https://ubsapp.com/wp-content/uploads/2021/12/Guide-to-Task-Management.jpg");
  width: 100%;
  height: 90vh;
  position: relative;
  background-size: cover;
}

.layover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.view-dashboard {
  background-color: #129c00 !important;
  color: #fff !important;
  z-index: 22;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
